<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/burger_style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" data-auto-replace-svg="nest"></script>


    <link href="https://fonts.googleapis.com/css?family=Fahkwang|Pacifico" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Tab Title -->
    <title>Burger Cafe!</title>
    <!-- Tab Image -->
    <link rel="icon" href="assets/img/food-1104168_1280.jpg">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="/assets/css/burger_style.css">

</head>

<body class="h-100">
    <div class="container">
        <div class="row">
            <div class=col-3>
                <img src="/assets/img/food-1104168_1280.jpg" height=250px width=250px alt="Burger">
            </div>
            <div class=col-9>
                <div class="jumbotron">
                    <h1 class="text-center"> <i class="fas fa-utensils"></i> Burger Cafe</h1>
                    <h3 class="text-center">If You Can Imagine It, We Can Prepare It!</h3>

                </div>
            </div>
        </div>



    </div>
    <div class="container mt-5">
        {{{ body }}}
    </div>
</body>

</html>